* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(51,137,194);
    background: linear-gradient(90deg, rgba(51,137,194,1) 15%, rgba(41,214,211,1) 43%, rgba(41,212,210,1) 43%, rgba(58,77,180,1) 100%);
}

#form {
    background-image: url("./img/iiiooo.jpg");
    background-repeat: no-repeat;
    width: 466px;
    height: 750px;
    margin-bottom: 0px;


}

fieldset {
    background-color: #1f4e70;
    color: white;
    border: 2px solid #1f4e70;
    width: 300px;
    margin-top: 110px;
    margin-left: 85px;
}

#start-form {
    display: flex;
    margin-top: 200px;
}

legend {
    background-color: #142736;
    padding: 5px;
    color: #eee;
}

input[type="submit"] {
    margin-top: 60px;
    margin-left: 360px;
}

img {
    margin-left: 390px;
    margin-top: 165px;
    display: flex;
    height: 30px;

}
